<section class="sample-app-content">
  <h1>Template-driven Form Example:</h1>
  <h2>Hello, {{ user.firstName }}, your gender is {{ selectedGender?.label }}</h2>

  <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
    <p [class.has-error]="userName.invalid && (userName.dirty || userName.touched)">
      <label>First Name:</label>
      <input type="text"
             name="name"
             #userName="ngModel"
             [(ngModel)]="user.firstName" required>
      <span *ngIf="userName.errors?.required && (userName.dirty || userName.touched)">This field is required</span>
    </p>

    <p>
      <label>Password:</label>
      <input type="password"
             name="password"
             [(ngModel)]="user.password" required>
    </p>

    <p>
      Choose gender:
      <label *ngFor="let genderOption of genderOptions">
        <input type="radio" name="gender" [(ngModel)]="selectedGender" [value]="genderOption" required>
        {{ genderOption.label }}
      </label>
    </p>

    <p>
      <input type="checkbox" name="shouldUseCity" [(ngModel)]="shouldUseCity">
    </p>

    <select *ngIf="shouldUseCity"
            [(ngModel)]="selectedCity" name="city">
      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
    </select>

    <p>
      <label>Stand-alone:</label>
<!--      Stand-alone field, we do not need name,-->
<!--      but instead of use ngModelOptions with standalone: true -->
      <input type="text"
             [(ngModel)]="standalone"
             [ngModelOptions]="{ standalone: true }"
             required>
    </p>
    <p>
      <button type="submit" [disabled]="!f.valid">Submit</button>
    </p>
  </form>
</section>
